#logo {
    font-size: 2em;
    color: #36383B;
    font-weight: 500;
}

.nav {
    text-align: center;
}

.nav ul {
    margin: 2em 0;
}

.nav li {
    background: #777777;
    margin: 10px;
    padding: 10px 0;
}

.nav a {
    color: #FEFFFE
}

/* .nav a:hover {
  transition-delay: 
} */