.about-header {
    text-align: center;
    background: url('../images/about.png') no-repeat top center;
    background-size: cover;
    overflow: hidden;
    padding-top: 60px;
}

.about {
    padding: 0 1em;
    list-style: none;
}

.about-me h1 {
    color: #FAF9FA;
}

.middle-section {
  margin: 4.5em 0;
}

.middle-section>div {
  margin-top: 4.5em;
}